{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h2>Cadastrar Novo Cliente</h2>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
              <a href="{% url 'clientes' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Cancelar</a>
              {% if cliente.id %}
              <a href="{% url 'cliente_del' cliente.id %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Excluir</a>
              {% endif %}
          {% endbuttons %}
    </form>
  </div>

{% endblock %}