{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="row">
        <h1>Clientes</h1>
        <table class="table table-striped", style="text-align:center;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data de Cadastro</th>
                    <th scope="col">Última Atualização</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr style="font-size:smaller">
                    
                    <td scope="col"><a href="{% url 'cliente_upd' cliente.id %}">{{ cliente.id }}</a></td>
                    <td scope="col">{{ cliente.nome }} {{ cliente.sobrenome }}</td>
                    <td scope="col">{{ cliente.cpf }}</td>
                    <td scope="col">{{ cliente.email }}</td>
                    <td scope="col">{{ cliente.dt_cadastro }}</td>
                    <td scope="col">{{ cliente.dt_modificacao }}</td>
                    {% if cliente.ativo %}
                    <td scope="col">Ativo</td>
                    {% else %}
                    <td scope="col">Inativo</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cliente_add' %}" type="button" class="btn btn-primary btn-sm btn-block">Cadastar Novo Cliente</a>
    </div>
{% endblock %}